@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,900;1,100;1,200;1,300;1,400;1,500;1,900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.container{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(255, 245, 108);
	transition: 0.5s;
	padding: 20px;

}
.container .content{
 position: relative;
 max-width: 800px;
}
.content-img{
	max-width: 100%;
	display: block;
}
.container .content h2{
	font-weight: 800px;
	margin-bottom: 10px;
	
}
.btn{
	position: relative;
	padding: 5px 20px;
	display: inline-block;
	margin-top: 20px;
	text-decoration: none;
	color: #fff;
	background: rgb(31, 31, 31);
	cursor: pointer;
	/* transition-delay: 0.5s; */
	transition: 0.5s;
}
.btn:hover{
	background: rgb(214, 62, 62);
}
.container#blur.active{
	filter: blur(20px);
	pointer-events: none;
	user-select: none;
}
#pop-up{
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 600px;
	padding: 50px;
	box-shadow: 0 5px 30px rgba(0,0,0,.30);
	background: #fff;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;

}
#pop-up.active{
	top: 50%;
	visibility: visible;
	opacity: 1;
	transition: 0.5s;
}